<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div class="row g-5 p-4">        
        <div class="col-6 d-flex flex-column">
            <label>Guest Name:</label>
            <input type="text" formControlName="guestName" placeholder="Guest Name">
            <small *ngIf="reservationForm.get('guestName')?.invalid && reservationForm.get('guestName')?.touched">
                Guest Name is required
            </small>
        </div>
        <div class="col-6 d-flex flex-column">
            <label>Guest Email:</label>
            <input type="email" formControlName="guestEmail" placeholder="Guest Email">
            <small *ngIf="reservationForm.get('guestEmail')?.invalid && reservationForm.get('guestEmail')?.touched">
                Guest Email is required
            </small>
        </div>
        <div class="col-6 d-flex flex-column">
            <label>Room Number:</label>
            <input type="number" formControlName="roomNumber" placeholder="Room Number">
            <small *ngIf="reservationForm.get('roomNumber')?.invalid && reservationForm.get('roomNumber')?.touched">
                Room Number is required
            </small>
        </div>
        <div class="col-6 d-flex flex-column">
            <label>Check-In Date:</label>
            <input type="date" formControlName="checkInDate" placeholder="Check-In Date">
            <small *ngIf="reservationForm.get('checkInDate')?.invalid && reservationForm.get('checkInDate')?.touched">
                Check-In Date is required
            </small>
        </div>
        <div class="col-6 d-flex flex-column">
            <label>Check-Out Date:</label>
            <input type="date" formControlName="checkOutDate" placeholder="Check-Out Date">
            <small *ngIf="reservationForm.get('checkOutDate')?.invalid && reservationForm.get('checkOutDate')?.touched">
                Check-Out Date is required
            </small>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary w-100" [disabled]="reservationForm.invalid">Submit</button>
        </div>
    </div>
</form>